@model IEnumerable<UdritDhakal.Models.Entity.Product>


<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="AddEdit">AddNew</a>
    </div>
</div>


<div class="row col-12">
    <table id="myTable">
        <thead>
            <tr>
                <th>Product Name </th>
                <th> Product Description </th>
                <th> Product Rate </th>
                <th> Batch No </th>
                <th> Manufactured Date</th>
                <th> Quantity </th> 
                <th> IsAvailable </th>
                 <th> Action</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td> @items.ProductName </td>
                    <td> @items.ProductDescription </td>
                    <td>@items.Rate</td>
                    <td> @items.batchNo</td>
                    <td> @items.productionDate</td>
                    <td> @items.quantity</td>
                    <td> @items.IsAvailable </td>
                    
                    <td>
                        <a class="btn btn-primary " asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
                       
                        <a class="btn btn-danger " asp-action="Delete" onclick="alert('Are you sure you want to delete?')" asp-route-id="@items.Id">Delete</a>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">

        <a class="btn mt-2 btn-secondary" asp-action="Index">Back to List</a>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>